// src/components/LoginForm.module.scss

@import '../../styles/mixins'; // Import mixins

.login {
  @include button();
}

.login:hover{
  @include buttonHover();
}

.login:active{
  @include buttonActive();
}

.filtered{
  @extend .login;
  border: $button-color solid 1px;
  padding: 10px 8px;

}

.reset{
  @extend .filtered;
  background-color: transparent;
  color: $header-color;
  border: $header-color solid 1px;
}

.user-details-button{
  @extend .reset;
  padding: 0 ;
  width: 150px;
  height: 35px;
  color: $button-color;
  border: $button-color solid 1px;
  font-weight: 600;
  border-radius: 6px;
}
.user-details-button-red{
  @extend .user-details-button;
  color: $blacklist-color;
  border: $blacklist-color solid 1px;
  padding: "0 5px";
}