@import "../../styles/variables";
@import "../../styles/media-queries.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #FBFBFB;

    .nav{
        background-color: white;
        height: 70px;
        z-index: 1000;
        width: auto;
    }
  
    .content {
      display: flex;
      flex: 1;

      .widgets {
        flex: 1;
        padding: 3%;
        overflow-y: auto;
        @include mq-medium {
          width: 100vw;
         }

        .current-title{
          color: $header-color-dark;
          font-weight: 600;
        }
      }
    }
  }

 
