// components/table/pagination.scss
@import '../../../styles/variables';
@import '../../../styles/media-queries.scss';


.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
  color: $text-color;
  font-size: small;
  font-weight: 500;

  @include mq-large{
    font-size: smaller;
    padding-bottom: 15%;
  }
  @include mq-small{
    font-size: 0.4em;
  }
  

  .pagination-info {
    width: 30%;
    display: flex;
    align-items: center;

    select {
      background-color: #21407d13;
      padding: 2% 15% 2% 5%;
      width: 70px;
      color: $header-color;
      border: #21407d13;
      border-radius: 4px;
      margin: 0 5px;
      appearance: none; // Hides the default arrow
      padding-right: 20px; // Space for custom arrow
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23445' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
      cursor: pointer;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;

}
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-button {
      background-color: #21407d13;
      padding: 1%;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 14px;

      @include mq-large{
        font-size: small;
      }
      @include mq-small{
        font-size: 1.5em;
      }


      &.active {
        font-weight: bold;
        color: $header-color;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:not(:disabled):hover {
        text-decoration: underline;
      }
    }

    .ellipsis {
      margin: 0 5px;
    }
  }
}
.numbers{
    color: $text-color;


    .total-item{
      width: 100vw;
    }
}
