// src/styles/_variables.scss

// Text color
$text-color: #545F7D;

// Header color
$header-color: #213F7D;

// Button primary color
$button-color: #39CDCC;

// Blacklist color
$blacklist-color: #E4033B;

// Active color
$active-color: #39CD62;

// Pending color
$pending-color: #E9B200;

// Border radius
$border-radius: 8px;
$extra-bold-weight: 650;
$font-family: 'Poppins', sans-serif;
