// src/components/InputField/InputField.module.scss

@import '../../styles/_variables';
@import '../../styles/media-queries.scss';

.inputField{
  display: flex;
}

.loginField {
  width: 95%;
  height: 20px;
  border-radius: 8px;
  border: 2px solid #545f7d2c  ;
  padding: 13px 10px;
  margin: 0.8em 0;
  display: block;
  background-color: white;

  @include mq-small {
    width: 92%;

    }


  &::placeholder {
    color:#545f7d7a;
  }
  &:focus {
    border-color: $button-color; 
    outline: none;
  }
}

.togglePassword {
  position: relative;
  margin-left: -60px;
  margin-top: 36px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: $button-color;
  font-weight: 700;
  padding: 0;
}

.searchField {
  padding: 5px 20px;
  width: 250px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;

  @extend .loginField;
}
.field{
  @extend .loginField;
  width: 220px;
  height: 10%;
  padding: 13px 8px;
  display: flex;
  align-items: center;
  color: $text-color;
  justify-content: space-between;

}
