@import "../../../styles/variables";
@import "../../../styles/media-queries";

.navbar {
  height: auto;
  background-color: #ffffff; /* Navbar background color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  color: #213F7D;

  @include mq-medium {
    position: fixed;
    width: 100vw;
  }
  @include mq-large {
    padding: 1.5% 1% 1% 1%;
  }

  @include mq-extra-small{
    padding: 4% 0 0 2%;

  }


  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    padding-left: 1%;

    @include mq-small {
      justify-content: flex-end;
      margin: 5% auto 3% auto;
      border-radius: none;
    }
    @include mq-medium {
      margin:  auto 2.5% auto auto;
    }
  }

  .logo-container {
    flex: 1;
  }

  .logo {
    margin-right: auto;
  }

  .logo img {
    height: 80%;
    width: 70%;

    @include mq-small {
      height: auto;
      width: 100px !important;
    }

    @include mq-large {
      height: auto;
      width: 150px;
    }
  }

  .search {
    margin-right: 40%;
    display: flex;
    align-items: center;

    @include mq-medium {
      display: none;
    }
    @include mq-large {
      margin-right: 20%;
    }

    .search-button {
      padding: 2.5% 5%;
      background-color: $button-color;
      border: none;
      color: white;
      height: 80%;
   border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    @include mq-medium {
      display: block;
      margin-right: 5%;
    }
  }

  // @include mq-medium {
  //   .mobile-menu {
  //     position: absolute;
  //   }
  // }
}
.username{
  font-size: small;
  
  @include mq-large {
display: none;  }

}
.profile{
  display: flex;
  align-items:center ;
  justify-content: flex-end;

  @include mq-large {
  width: auto;
}

  .notification-icon {
    margin-left: 20px; /* Adjust margin as needed */
    cursor: pointer;
  }

  .profile-avatar img {
    width: 40px; /* Adjust avatar size as needed */
    height: 40px;
    border-radius: 50%;
    margin-left: 20px; /* Adjust margin as needed */
    @include mq-small {
      width: 30px; /* Adjust avatar size as needed */
      height: 30px;
      border-radius: 50%;
      margin-left: 5px;
    }
  }

  .user-dropdown {
    margin-left: 20px; /* Adjust margin as needed */
    position: relative;
    cursor: pointer;
    @include mq-small {
      margin-left: 10px; /* Adjust margin as needed */
    }
  }

  .user-info {
    display: flex;
    align-items: center;
  }

  .user-info .username {
    margin-right: 10px;
  }

  .dropdown-content {
    position: absolute;
    top: 50px; 
    right: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
    z-index: 1000;
    display: none; /* Hidden by default */
  }

  .user-dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
  }

  .dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333333;
    transition: background-color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: #f0f0f0; /* Background color on hover */
  }

 
 
}

.docs {
  color: $header-color-dark;
  @include mq-large {
    display: none;
  }
  @include mq-large {
    font-size: xx-small;
   }
}
